body {
  background-color: rgb(230, 233, 228);
  margin: 0;
}

header {
  width: 100%;
  height: 90px;
  background-color: #d4d4d4;
  display: flex;
  margin-bottom: 100px;
  padding-left: 20px;
}

.section {
  display: flex;
  margin-bottom: 200px;
}

.img_1_left {
  width: 50%;
  display: flex;
  justify-content: center;
}
.img_1_left > img {
  width: 80%;
}
.img_1_right {
  width: 50%;
  display: flex;
  justify-content: center;
}
.img_1_right > img {
  width: 80%;
}

.img_2_left {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.img_2_left > img {
  width: 80%;
  margin-right: 0px;
}

.img_2_right {
  width: 50%;
  display: flex;
  justify-content: left;
}
.img_2_right > img {
  width: 80%;
}

.img_3_left {
  width: 50%;
  height: 500px;
  z-index: 10;
  opacity: 0.9;
  position: relative;
}
.img_3_left > img {
  width: 100%;
  position: absolute;
    left: 100px;
  
}

.img_3_right {
  width: 50%;
  height: 500px;
  position: relative;

}
.img_3_right > img {
  width: 100%;
  position: absolute;
  top: 400px;
  left: -200px;
}


@media screen and (max-width: 767px) {
  .section {
    flex-direction: column;
  }
  #content {
    width: 100%;
    padding-bottom: 30px;
  }
   
  #content .image {
    width: 100%;

  }

  .img_3_left {
    z-index: 0;
    opacity: 1;
    margin-bottom: 400px;
  }
  .img_3_left > img {
    position: absolute;
      left: auto;
  }

  .img_3_right > img {
    width: 100%;
    position: absolute;
      top: auto;
      left: auto;
  }
  
}